parking-backend/node_modules
parking-frontend/node_modules
parking-frontend/build
parking-frontend/src/firebase.js
mlapp/output
*.env
*.env.production
*.MP4
*.avi
psql_instructions.md
parking-backend/*.md
mlapp/*.md
mlapp/*/*.md
Dockerfile
/utahtech
/output
*.pt
*.onnx
